<widget id="org.oraclejet.android"
        version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>CARHUB</name>
    <content src="index.html" />

    <access origin="http://10.0.2.2:4567" />

    <preference name="scheme" value="http" />
    <preference name="hostname" value="localhost" />

    <platform name="android">
        <edit-config file="app/src/main/AndroidManifest.xml"
                     mode="merge"
                     target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>